@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  width: 100vw;
  height: 100vh;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  list-style: none;
}
.nav-item {
  padding: 5px;
}
.nav-item a {
  text-decoration: none;
  color: black;
}
.nav-item:hover a {
  text-decoration: underline;
  cursor: pointer;
}
main h1 {
  font-size: 30px;
}

main {
  flex-grow: 1;
  width: calc(100% - 40px);
  padding: 20px;
}
