@import "../../styles/flex.scss";

.app-header {
  &__container {
    width: 100%;
    height: 100px;
    padding: 10px;
    @include flex-row(space-between, center, 0px);
    background-color: #E0E1DD;
  }
  &__exit {
    border: none;
    background: none;
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__user {
    font-size: 2rem;
  }
}