.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.imgContainer {
  width: 900px;
}