@import "../../styles/flex.scss";

.signin {
  &__container {
    width: 100%;
    height: 100%;
    padding: 20px;
    @include flex-column(flex-start, center, 20px);
  }
  &__title {
    font-size: 4rem;
  }
  &__form {
    @include flex-column(flex-start, flex-start, 20px);
  }
  &__input-group {
    @include flex-row(space-between, center, 20px);
    width: 480px;
    input {
      border: none;
      text-decoration: none;
      border: 1px solid rgba(0,0,0,0.30);
      padding: 10px;
      width: 380px;
    }
  }
  &__actions {
    @include flex-row(space-between, center, 20px);
    &__submit {
      z-index: 999;
      border: none;
      color: #fafafa;
      border-radius: 4px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      align-self: center;
      font-size: 1.5rem;
      background-color: #1B065E;
      border: 1px solid rgba(0,0,0,0.15);
      &:hover {
        cursor: pointer;
      }
    }
  }
}